 body {
	 font-family: 'sans-serif';
	 background-color: #d1d1d1;
 }
 
 .navbar-nav>li>.dropdown-menu {
	 margin-top: 20px;
	 border-top-left-radius: 4px;
	 border-top-right-radius: 4px;
 } 
 
 .mega-dropdown-menu{
	 position: static !important;
	 width:100%;
 }
 
 .mega-dropdown-menu{
	 padding: 20px 20px;
	 width: 100%;
	 box-shadow: none;
 }